/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container-navbar {
  width: 90%;
  margin-inline: auto;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.navbar {
  padding: 8px 0 8px 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 0 0 40px 40px;
}


/* NAVBAR - SCROLLING ACTIVE */
.navbar.scrolling-active {
  background-color: #2f668f;
  padding: 2px 0 2px 0;
}

.navbar.scrolling-active .box-navbar .brand h1 {
  color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li {
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:hover {
  background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(2) {
  background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(2) a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li a:hover {
  color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) {
  background-color: #e8bd3b;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) :hover {
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a:hover {
  color: #2f668f;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i {
  color: #FFF;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i:hover {
  color: #2f668f;
  transition: all 0.3s ease;
}


/* NAVBAR - X SCROLLING */
.navbar .box-navbar i.ri-menu-line {
  display: none;
}

.navbar .box-navbar .navigation ul li i {
  display: none;
}

.navbar .box-navbar .navigation i.ri-close-line {
  display: none;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  width: 130px;
  height: 80px;
}


.navbar .navigation .logo-navbar {
  width: 100%;
  padding: 30px 30px 0 30px;
}

.navbar .box-navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .box-navbar .navigation ul li {
  list-style-type: none;
  transition: all 0.2s;
  border-radius: 20px;
  font-size: 14px;
  transition: all ease-in 0.2s;
  padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:hover {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(2) {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:nth-child(2) a {
  color: #2f668f;
}

.navbar .box-navbar .navigation ul li:hover a {
  color: #2f668f;
}

.navbar .box-navbar .navigation ul li:nth-child(5){
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5):hover {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a{
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: #2f668f;
  transition: all 0.3s ease;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a:hover {
  color: #FFF;
}

.navbar .box-navbar .navigation ul li:nth-child(5) i {
  transition: all 0.3s ease;
}

@media screen and (max-width: 990px){
  /* NAVBAR */
  .navbar.scrolling-active .box-navbar i.ri-menu-line{
      color: white;
      font-weight: 900;
  }

  .navbar .box-navbar i.ri-menu-line {
      display: block;
      font-size: 28px;
      font-weight: 900;
      color: white;
      cursor: pointer;
  }


  .navbar .box-navbar .navigation {
      position: absolute;
      top: 0;
      right: -300px;
      width: 250px;
      height: 100vh;
      background-color: #2f668f;
      transition: all 0.3s ease;
  }

  .navbar .box-navbar .navigation.menu-active {
      right: 0;
  }

  .navbar .box-navbar .navigation i.ri-close-line {
      display: block;
      padding: 10px;
      border-radius: 100%;
      background-color: white;
      color: #2f668f;
      font-size: 25px;
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      cursor: pointer;
  }

  .navbar .box-navbar .navigation ul {
      flex-direction: column;
      align-items: flex-end;
      gap: 30px;
      padding: 0 30px 0 0;
  }

  .navbar .box-navbar .navigation ul li a {
      color: #FFF;
  }

  .navbar .box-navbar .navigation ul li a:hover {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li i {
      display: inline-block;
      color: #FFF;
      margin-inline: 10px;
  }

  .navbar .box-navbar .navigation ul li:hover i {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) i {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) i:hover {
      color: #FFF;
  }
}

@media screen and (min-width: 990px) {
  .navbar .navigation .logo-navbar {
      display: none;
  }

  .container-navbar {
    width: 80%;
    margin-inline: auto;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }
}

.jumbotron {
  padding: 100px;
  background-image: url(../../../Rael&Gilang/BACK.png) ;
  background-position: center;
  background-size: cover;
  height: 250px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.jumbotron h1 {
margin-top: 30px;
font-size: 35px;
}

.header .line {
  background-color: #333;
  width: 50%;
  height: 1.5px;
  opacity: 50%;
  margin: 40px auto;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .utama{
  max-width: 1500px;
  display: none;
}


/* Button Division */
input[type=submit]{
  font-size: 15px;
  background: #1e4466;
  color: white;
  border: white 3px solid;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 12px; 
}

button:hover, input[type=submit]:hover{
  opacity:0.8;
}

hr{
  /* margin-bottom: 20px; */
  margin-top: 10px;
}
h1{
  margin-top: 15px;
  text-align: center;
}

.divisi1, .divisi2, .divisi3, .divisi4{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  input[type=submit]{
      padding: 5px 10px;
      margin: 2px 2px; 
  }
  .container .button{
      width: 5rem;
      padding: 5px 10px;
      margin: 5px 12px;  
  }
  .divisi1, .divisi2, .divisi3, .divisi4{
    display: flex;
    flex-direction: column;
  }
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width:1023px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
  input[type=submit]{
    padding: 10px 15px;
    margin: 2px 2px; 
}
.container .button{
    width: 8rem;
    padding: 8px 12px;
    margin: 5px 12px;  
}
.divisi1, .divisi2, .divisi3, .divisi4{
  display: flex;
}
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
  
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  margin-bottom: 40px;
 
}

.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .container-navbar {
      width: 90%;
  }

  .jumbotron {
    padding: 100px;
    background-image: url(../../../Rael&Gilang/BACK.png) ;
    background-position: center;
    background-size: cover;
    height: 300px;
    text-align: center;
    color: #fff;
    margin-bottom: -50px;
    transition: all .5s linear;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .jumbotron h1 {
    margin-top: 30px;
    font-size: 30px;
  }
}


/* FOOTER */
.w-footer {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background-color: #b2cbed;
}

.footer {
  color: #2f668f;
  font-size: 12px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 70px 0;
  transition: all 0.3s linear;
}

.footer h3 {
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.footer h4 {
  margin-bottom: 5px;
  font-weight: 400;
  text-decoration: underline;
}

.footer a {
  text-decoration: none;
  color: #2f668f;
}

.footer .container-grid {
  display: grid;
  transition: all 0.3s linear;
}

.footer .container-grid ul li {
  margin-bottom: 6px;
}

.footer .container-grid .grid-1 {
  padding: 0;
  margin-right: 20px;
}

.footer .container-grid .grid-1 .desc,
.cs,
.email,
.instagram {
  text-align: justify;
  margin-bottom: 20px;
}

.footer .container-grid .grid-1 .desc p {
  line-height: 22px;
}

.footer .container-grid .grid-double {
  display: grid;
  grid-auto-flow: column;
}

.footer .container-grid .grid-2,
.grid-3 {
  margin-top: 40px;
}

.footer .container-grid .grid-2 {
  padding: 0 0 0 20px;
}

.footer .container-grid .grid-2 .program-agustus {
  display: grid;
}

.footer .container-grid .grid-2 .program-agustus .grid-a {
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer .container-grid .grid-3 {
  padding: 0 20px;
}

.footer .grid-sosmed {
  margin-top: 30px;
}

.footer .grid-sosmed ul {
  display: flex;
  list-style-type: none;
}

.footer .grid-sosmed ul li {
  margin-right: 20px;
  font-size: 25px;
}

/* COPYRIGHT */
.copyright {
  width: 100%;
  background-color: #2f668f;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright h5 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 200;
}

@media screen and (min-width: 780px) {
  /* FOOTER */
  .w-footer {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background-color: #b2cbed;
  }

  .footer {
    color: #2f668f;
    font-size: 12px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px 0;
    transition: all 0.3s linear;
  }

  .footer h3 {
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer a {
    text-decoration: none;
    color: #2f668f;
  }

  .footer .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    transition: all 0.3s linear;
  }

  .footer .container-grid ul li {
    margin-bottom: 6px;
  }

  .footer .container-grid .grid-1 {
    padding: 0 20px 0 0;
  }

  .footer .container-grid .grid-1 .desc,
  .cs,
  .email,
  .instagram,
  .partner {
    text-align: justify;
    margin-bottom: 20px;
  }

  .footer .container-grid .grid-double {
    display: grid;
    grid-auto-flow: row;
  }

  .footer .container-grid .grid-2,
  .grid-3 {
    margin-top: 0;
  }

  .footer .container-grid .grid-2 {
    padding: 0 0 0 20px;
  }

  .footer .container-grid .grid-2 .program-agustus {
    display: grid;
  }

  .footer .container-grid .grid-2 .program-agustus .grid-a {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .footer .container-grid .grid-3 {
    padding: 20px 0 0 20px;
  }

  .footer .grid-sosmed {
    margin-top: 30px;
  }

  .footer .grid-sosmed ul {
    display: flex;
    list-style-type: none;
  }

  .footer .grid-sosmed ul li {
    margin-right: 20px;
    font-size: 25px;
  }
    /* COPYRIGHT */
    .copyright {
      width: 100%;
      background-color: #2f668f;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .copyright h5 {
      font-size: 12px;
      letter-spacing: 1px;
      color: #fff;
      font-weight: 200;
    }
}

@media screen and (min-width: 900px) {
  /* FOOTER */
  .w-footer {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background-color: #b2cbed;
  }

  .footer {
    color: #2f668f;
    font-size: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px 0;
    transition: all 0.3s linear;
  }

  .footer h3 {
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer a {
    text-decoration: none;
    color: #2f668f;
  }

  .footer .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .footer .container-grid ul li {
    margin-bottom: 6px;
  }

  .footer .container-grid .grid-1 {
    padding: 0 20px 0 0;
  }

  .footer .container-grid .grid-1 .desc,
  .cs,
  .email,
  .address,
  .partner {
    text-align: justify;
    margin-bottom: 20px;
  }

  .footer .container-grid .grid-double {
    display: grid;
    grid-auto-flow: column;
  }

  .footer .container-grid .grid-2 {
    padding: 0 20px;
  }

  .footer .container-grid .grid-2 .program-agustus {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }

  .footer .container-grid .grid-2 .program-agustus .grid-a {
    margin-right: 25px;
    margin-bottom: 0;
  }

  .footer .container-grid .grid-3 {
    padding: 0 0 0 20px;
  }

  .footer .grid-sosmed {
    margin-top: 30px;
  }

  .footer .grid-sosmed ul {
    display: flex;
    list-style-type: none;
  }

  .footer .grid-sosmed ul li {
    margin-right: 20px;
    font-size: 25px;
  }

  /* COPYRIGHT */
  .copyright {
    width: 100%;
    background-color: #2f668f;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright h5 {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 200;
  }
}
