* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container-navbar {
  width: 90%;
  margin-inline: auto;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.navbar {
  padding: 8px 0 8px 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 0 0 40px 40px;
}


/* NAVBAR - SCROLLING ACTIVE */
.navbar.scrolling-active {
  background-color: #2f668f;
  padding: 2px 0 2px 0;
}

.navbar.scrolling-active .box-navbar .brand h1 {
  color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li {
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:hover {
  background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li a:hover {
  color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(3) {
  background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(3) a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) {
  background-color: #e8bd3b;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i {
  color: #FFF;
  transition: all 0.3s ease;
}


/* NAVBAR - X SCROLLING */
.navbar .box-navbar i.ri-menu-line {
  display: none;
}

.navbar .box-navbar .navigation ul li i {
  display: none;
}

.navbar .box-navbar .navigation i.ri-close-line {
  display: none;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  width: 130px;
  height: 80px;
}

.navbar .navigation .logo-navbar {
  width: 100%;
  padding: 30px 30px 0 30px;
}

.navbar .box-navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .box-navbar .navigation ul li {
  list-style-type: none;
  transition: all 0.2s;
  border-radius: 20px;
  font-size: 14px;
  transition: all ease-in 0.2s;
  padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:hover {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(3) {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(3) a {
  color: #2f668f;
}

.navbar .box-navbar .navigation ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:hover a {
  color: #2f668f;
}

.navbar .box-navbar .navigation ul li:nth-child(5){
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a{
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: #2f668f;
  transition: all 0.3s ease;
}

.navbar .box-navbar .navigation ul li:nth-child(5) i {
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .container-navbar {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  .container-navbar {
    width: 80%;
    margin-inline: auto;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }
}

@media screen and (max-width: 990px){
  /* NAVBAR */
  .navbar.scrolling-active .box-navbar i.ri-menu-line{
      color: white;
      font-weight: 900;
  }

  .navbar .box-navbar i.ri-menu-line {
      display: block;
      font-size: 28px;
      font-weight: 900;
      color: white;
      cursor: pointer;
  }


  .navbar .box-navbar .navigation {
      position: absolute;
      top: 0;
      right: -300px;
      width: 250px;
      height: 100vh;
      background-color: #2f668f;
      transition: all 0.3s ease;
  }

  .navbar .box-navbar .navigation.menu-active {
      right: 0;
  }

  .navbar .box-navbar .navigation i.ri-close-line {
      display: block;
      padding: 10px;
      border-radius: 100%;
      background-color: white;
      color: #2f668f;
      font-size: 25px;
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      cursor: pointer;
  }

  .navbar .box-navbar .navigation ul {
      flex-direction: column;
      align-items: flex-end;
      gap: 30px;
      padding: 0 30px 0 0;
  }

  .navbar .box-navbar .navigation ul li a {
      color: #FFF;
  }

  .navbar .box-navbar .navigation ul li a:hover {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li i {
      display: inline-block;
      color: #FFF;
      margin-inline: 10px;
  }

  .navbar .box-navbar .navigation ul li:hover i {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) {
      color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) i {
      color: #2f668f;
  }
}

@media screen and (min-width: 990px) {
  .navbar .navigation .logo-navbar {
      display: none;
  }
}

.jumbotron {
    padding-top: 180px;
    padding: 100px;
    background-image: url(BACK.png) ;
    background-position: center;
    background-size: cover;
    height: 450px;
    text-align: center;
    color: #fff;
    margin-bottom: -200px;
}

.jumbotron h1 {
  margin-top: 30px;
  font-size: 35px;
}

.container-contact-us {
    width: 90%;
    margin-inline: auto;
    transition: all 0.3s linear;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container-contact-us i {
    font-size: 14px;
}

.card{
    height: 450px;
    width: 900px;
    background-color: #1e4466;
    display: grid;
    grid-template-columns: 65% auto;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.107);
    margin-bottom: 100px;
}

.left {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
    
}

.left .line {
    width: 300px;
    background-color: #1e4466;
    margin: 15px 0px;
    height: 3px;
    border-radius: 30px;
}

.left .telp {
    display: flex;
    border: 2px solid #1e4466;
    padding: 6px 100px;
    border-radius: 30px;
    align-items: center;
}

.left .telp a {
  color: black;
  font-size: 20px;
}

.left .telp a:hover {
  color: #2f668f;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.left .telp i {
    padding: 0px 10px;
}

.left .telp h3 {
    padding: 0px 10px;
}

.right {
    margin: auto;
    
}

.right div {
    margin-bottom: 30px;
}

.right .keep-connected {
    color: #fff;
    padding-top: 40px;
    
}

.right .instagram,
.linkedin,
.twitter,
.tiktok,
.youtube,
.spotify {
    display: flex;
    align-items: center;
}


.right i {
    padding: 0px 20px 0px;
    color: #fff;
    font-size: 25px;
    
}


.card a {
    text-decoration: none;
    align-items: center;
    color: #fff;
    font-size: 13px;
}

@media screen and (max-width: 900px) {
  .container-navbar{
    width: 90%;

  }

  .jumbotron{
    
    padding: 100px;
    background-image: url(BACK.png) ;
    background-position: center;
    background-size: cover;
    height: 450px;
    text-align: center;
    color: #fff;
    margin-bottom: -150px;
    transition: all .5s linear;
    font-weight: 600;
  
  }
  
  .jumbotron h1 {
    margin-top: 30px;
    font-size: 30px;
  }

  .container-contact-us {
    width: 50%;
    margin-inline: auto;
    transition: all 0.3s linear;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container-contact-us i {
  font-size: 15px;
}

.container-contact-us a {
  font-size: 10px;
}

.container-contact-us .card .left {
  font-size: 8px;
  text-align: center;
  width: 220px;
}

.container-contact-us .card .right {
  font-size: 14px;
  text-align: center;
  width: 120px;
}

.container-contact-us .card .right p {
  font-size: 10px;
  text-align: center;
}

.container-contact-us .card .left .line {
  width: 100px;
}

.container-contact-us .card .left .telp {
  padding: 6px 10px;
}

.left .telp a {
  color: black;
  font-size: 15px;
}

}


/* FOOTER */
.w-footer {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background-color: #b2cbed;
}

.footer {
  color: #2f668f;
  font-size: 12px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 70px 0;
  transition: all 0.3s linear;
}

.footer h3 {
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.footer h4 {
  margin-bottom: 5px;
  font-weight: 400;
  text-decoration: underline;
}

.footer a {
  text-decoration: none;
  color: #2f668f;
}

.footer .container-grid {
  display: grid;
  transition: all 0.3s linear;
}

.footer .container-grid ul li {
  margin-bottom: 6px;
}

.footer .container-grid .grid-1 {
  padding: 0;
  margin-right: 20px;
}

.footer .container-grid .grid-1 .desc,
.cs,
.email,
.instagram {
  text-align: justify;
  margin-bottom: 20px;
}

.footer .container-grid .grid-1 .desc p {
  line-height: 22px;
}

.footer .container-grid .grid-double {
  display: grid;
  grid-auto-flow: column;
}

.footer .container-grid .grid-2,
.grid-3 {
  margin-top: 40px;
}

.footer .container-grid .grid-2 {
  padding: 0 0 0 20px;
}

.footer .container-grid .grid-2 .program-agustus {
  display: grid;
}

.footer .container-grid .grid-2 .program-agustus .grid-a {
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer .container-grid .grid-3 {
  padding: 0 20px;
}

.footer .grid-sosmed {
  margin-top: 30px;
}

.footer .grid-sosmed ul {
  display: flex;
  list-style-type: none;
}

.footer .grid-sosmed ul li {
  margin-right: 20px;
  font-size: 25px;
}

/* COPYRIGHT */
.copyright {
  width: 100%;
  background-color: #2f668f;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright h5 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 200;
}

@media screen and (min-width: 780px) {
  /* FOOTER */
  .w-footer {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background-color: #b2cbed;
  }

  .footer {
    color: #2f668f;
    font-size: 12px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px 0;
    transition: all 0.3s linear;
  }

  .footer h3 {
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer a {
    text-decoration: none;
    color: #2f668f;
  }

  .footer .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    transition: all 0.3s linear;
  }

  .footer .container-grid ul li {
    margin-bottom: 6px;
  }

  .footer .container-grid .grid-1 {
    padding: 0 20px 0 0;
  }

  .footer .container-grid .grid-1 .desc,
  .cs,
  .email,
  .instagram,
  .partner {
    text-align: justify;
    margin-bottom: 20px;
  }

  .footer .container-grid .grid-double {
    display: grid;
    grid-auto-flow: row;
  }

  .footer .container-grid .grid-2,
  .grid-3 {
    margin-top: 0;
  }

  .footer .container-grid .grid-2 {
    padding: 0 0 0 20px;
  }

  .footer .container-grid .grid-2 .program-agustus {
    display: grid;
  }

  .footer .container-grid .grid-2 .program-agustus .grid-a {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .footer .container-grid .grid-3 {
    padding: 20px 0 0 20px;
  }

  .footer .grid-sosmed {
    margin-top: 30px;
  }

  .footer .grid-sosmed ul {
    display: flex;
    list-style-type: none;
  }

  .footer .grid-sosmed ul li {
    margin-right: 20px;
    font-size: 25px;
  }
    /* COPYRIGHT */
    .copyright {
      width: 100%;
      background-color: #2f668f;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .copyright h5 {
      font-size: 12px;
      letter-spacing: 1px;
      color: #fff;
      font-weight: 200;
    }
}

@media screen and (min-width: 900px) {
  /* FOOTER */
  .w-footer {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background-color: #b2cbed;
  }

  .footer {
    color: #2f668f;
    font-size: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px 0;
    transition: all 0.3s linear;
  }

  .footer h3 {
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer a {
    text-decoration: none;
    color: #2f668f;
  }

  .footer .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .footer .container-grid ul li {
    margin-bottom: 6px;
  }

  .footer .container-grid .grid-1 {
    padding: 0 20px 0 0;
  }

  .footer .container-grid .grid-1 .desc,
  .cs,
  .email,
  .address,
  .partner {
    text-align: justify;
    margin-bottom: 20px;
  }

  .footer .container-grid .grid-double {
    display: grid;
    grid-auto-flow: column;
  }

  .footer .container-grid .grid-2 {
    padding: 0 20px;
  }

  .footer .container-grid .grid-2 .program-agustus {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }

  .footer .container-grid .grid-2 .program-agustus .grid-a {
    margin-right: 25px;
    margin-bottom: 0;
  }

  .footer .container-grid .grid-3 {
    padding: 0 0 0 20px;
  }

  .footer .grid-sosmed {
    margin-top: 30px;
  }

  .footer .grid-sosmed ul {
    display: flex;
    list-style-type: none;
  }

  .footer .grid-sosmed ul li {
    margin-right: 20px;
    font-size: 25px;
  }

  /* COPYRIGHT */
  .copyright {
    width: 100%;
    background-color: #2f668f;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright h5 {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 200;
  }
}

