body {
  font-family: 'Inter', sans-serif;
  margin-bottom: 5rem;
}

// NEWS
.jumbotron {
  padding-top: 180px;
  padding: 100px;
  background-image: url(BACK.png) ;
  background-position: center;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #fff;
  margin-bottom: -200px;
}

.jumbotron h1 {
  margin-top: 30px;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}

.news--main {
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-around;

  .card {
    width: 20rem;
    height: 37rem;
    margin: 1.5rem;
    border-radius: 10px;

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card-body {
      margin: 10px;
    }

    h6 {
      text-transform: uppercase;
      font-size: 12px;

      span {
        font-weight: bold;
      }
    }

    h5 {
      font-weight: bold;

      a {
        color: #222;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .card-text {
      font-size: 14px;
    }
  }

  .card:hover {
    border: 2px solid rgba(21, 69, 201, 0.7);
    transition: all 0.1s ease-in-out;
  }
}

// NAVBAR
.container--navbar {
  width: 90%;
  margin-inline: auto;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.navbar {
  // margin-top: -48px;
  padding: 8px 0 8px 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 0 0 40px 40px;
  // font-family: 'Poppins', sans-serif;
}

/* NAVBAR - SCROLLING ACTIVE */
.navbar.scrolling-active {
  background-color: #2f668f;
  padding: 2px 0 2px 0;
}

.navbar.scrolling-active .box-navbar .brand h1 {
  color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li {
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(4) {
  background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(1) a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:hover {
  background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a {
  color: white;
  padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li a:hover {
  // color: #2f668f;
  color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) {
  background-color: #e8bd3b;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) :hover {
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a:hover {
  color: #2f668f;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i {
  color: #fff;
  transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i:hover {
  color: #2f668f;
  transition: all 0.3s ease;
}

/* NAVBAR - X SCROLLING */
.navbar .box-navbar i.ri-menu-line {
  display: none;
}

.navbar .box-navbar .navigation ul li i {
  display: none;
}

.navbar .box-navbar .navigation i.ri-close-line {
  display: none;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    padding-left: 68px;
    padding-bottom: 8px;
  }
}

.brand img {
  width: 130px;
  height: 80px;
  margin-left: -70px;
}

.navbar .navigation .logo-navbar {
  width: 100%;
  padding: 30px 30px 0 30px;
}

.navbar .box-navbar .navigation {
  padding: 24px 70px 10px 0;
  letter-spacing: .2px;
}

.navbar .box-navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 40px;
  // padding: 20px;
}

.navbar .box-navbar .navigation ul li {
  list-style-type: none;
  transition: all 0.2s;
  border-radius: 20px;
  font-size: 14px;
  transition: all ease-in 0.2s;
  padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:hover {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li a {
  text-decoration: none;
  color: #2f668f;
  padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:nth-child(4) {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:hover a {
  color: #fff;
}

.navbar .box-navbar .navigation ul li:nth-child(1) a {
  color: white;
}
.navbar .box-navbar .navigation ul li:nth-child(2) a {
  color: white;
}
.navbar .box-navbar .navigation ul li:nth-child(3) a {
  color: white;
}

.navbar .box-navbar .navigation ul li:nth-child(5) {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5):hover {
  background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a {
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: #2f668f;
  transition: all 0.3s ease;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a:hover {
  color: #fff;
}

.navbar .box-navbar .navigation ul li:nth-child(5) i {
  transition: all 0.3s ease;
}

// FOOTER
.w-footer {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background-color: #b2cbed;
}

.footer {
  color: #2f668f;
  font-size: 12px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 70px 0;
  transition: all 0.3s linear;
}

.footer h3 {
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.footer h4 {
  margin-bottom: 5px;
  font-weight: 400;
  text-decoration: underline;
}

.footer a {
  text-decoration: none;
  color: #2f668f;
}

.footer .container-grid {
  display: grid;
  transition: all 0.3s linear;
}

.footer .container-grid ul li {
  margin-bottom: 6px;
}

.footer .container-grid .grid-1 {
  padding: 0;
  margin-right: 20px;
}

.footer .container-grid .grid-1 .desc,
.cs,
.email,
.instagram,
.partner {
  text-align: justify;
  margin-bottom: 20px;
  
  h3 {
    font-size: 14px;
    font-weight: bold;
  }
}

.footer .container-grid .grid-1 .desc p {
  line-height: 22px;
}

.footer .container-grid .grid-double {
  display: grid;
  grid-auto-flow: column;
}

.footer .container-grid .grid-2,
.grid-3 {
  margin-top: 40px;

  h3 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 32px;
  }
}

.footer .container-grid .grid-2 {
  padding: 0 0 0 20px;
}

.footer .container-grid .grid-2 .program-agustus {
  display: grid;
}

.footer .container-grid .grid-2 .program-agustus .grid-a {
  margin-right: 20px;
  margin-bottom: 10px;

  h4 {
    font-size: 12px;
    padding-left: 32px;
  }
}
.footer .container-grid .grid-2 .program-agustus .grid-b {
  h4 {
    font-size: 12px;
    padding-left: 32px;
  }
}

.footer .container-grid .grid-3 {
  padding: 0 20px;

  h4 {
    font-size: 12px;
    padding-left: 32px;
  }
}

.footer .grid-sosmed {
  margin-top: 30px;
}

.footer .grid-sosmed ul {
  display: flex;
  list-style-type: none;
}

.footer .grid-sosmed ul li {
  margin-right: 20px;
  font-size: 25px;
}

/* COPYRIGHT */
.copyright {
  width: 100%;
  background-color: #2f668f;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5rem;
}

.copyright h5 {
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 5px;
  color: #fff;
  font-weight: 200;
}

/* MEDIA QUERY */
@media screen and (min-width: 780px) {
  /* HERO */
  .container-hero .box-hero .box h1 {
    color: #2f668f;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 55px;
    margin-bottom: 35px;
  }

  .container-hero .box-hero .box p {
    color: #2f668f;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.5px;
  }

  /* FOOTER */
  .w-footer {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background-color: #b2cbed;
  }

  .footer {
    color: #2f668f;
    font-size: 12px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px 0;
    transition: all 0.3s linear;
  }

  .footer h3 {
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer a {
    text-decoration: none;
    color: #2f668f;
  }

  .footer .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    transition: all 0.3s linear;
  }

  .footer .container-grid ul li {
    margin-bottom: 6px;
  }

  .footer .container-grid .grid-1 {
    padding: 0 20px 0 0;
  }

  .footer .container-grid .grid-1 .desc,
  .cs,
  .email,
  .instagram,
  .partner {
    text-align: justify;
    margin-bottom: 20px;
  }

  .footer .container-grid .grid-double {
    display: grid;
    grid-auto-flow: row;
  }

  .footer .container-grid .grid-2,
  .grid-3 {
    margin-top: 0;
  }

  .footer .container-grid .grid-2 {
    padding: 0 0 0 20px;
  }

  .footer .container-grid .grid-2 .program-agustus {
    display: grid;
  }

  .footer .container-grid .grid-2 .program-agustus .grid-a {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .footer .container-grid .grid-3 {
    padding: 20px 0 0 20px;
  }

  .footer .grid-sosmed {
    margin-top: 30px;
  }

  .footer .grid-sosmed ul {
    display: flex;
    list-style-type: none;
  }

  .footer .grid-sosmed ul li {
    margin-right: 20px;
    font-size: 25px;
  }

  /* COPYRIGHT */
  .copyright {
    width: 100%;
    background-color: #2f668f;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright h5 {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 200;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 80%;
    margin-inline: auto;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }

  /* FOOTER */
  .w-footer {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background-color: #b2cbed;
  }

  .footer {
    color: #2f668f;
    font-size: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px 0;
    transition: all 0.3s linear;
  }

  .footer h3 {
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: underline;
  }

  .footer a {
    text-decoration: none;
    color: #2f668f;
  }

  .footer .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .footer .container-grid ul li {
    margin-bottom: 6px;
  }

  .footer .container-grid .grid-1 {
    padding: 0 20px 0 0;
  }

  .footer .container-grid .grid-1 .desc,
  .cs,
  .email,
  .address,
  .partner {
    text-align: justify;
    margin-bottom: 20px;
  }

  .footer .container-grid .grid-double {
    display: grid;
    grid-auto-flow: column;
  }

  .footer .container-grid .grid-2 {
    padding: 0 20px;
  }

  .footer .container-grid .grid-2 .program-agustus {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }

  .footer .container-grid .grid-2 .program-agustus .grid-a {
    margin-right: 25px;
    margin-bottom: 0;
  }

  .footer .container-grid .grid-3 {
    padding: 0 0 0 20px;
  }

  .footer .grid-sosmed {
    margin-top: 30px;
  }

  .footer .grid-sosmed ul {
    display: flex;
    list-style-type: none;
  }

  .footer .grid-sosmed ul li {
    margin-right: 20px;
    font-size: 25px;
  }

  /* COPYRIGHT */
  .copyright {
    width: 100%;
    background-color: #2f668f;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright h5 {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 200;
  }
}

// RESPONSIVE
@media screen and (max-width: 990px) {
  /* NAVBAR */
  .navbar.scrolling-active .box-navbar i.ri-menu-line {
    color: white;
    font-weight: 900;
  }

  .navbar .box-navbar i.ri-menu-line {
    display: block;
    font-size: 28px;
    font-weight: 900;
    color: white;
    cursor: pointer;
  }

  .navbar .box-navbar .navigation {
    position: absolute;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: #2f668f;
    transition: all 0.3s ease;

    img {
      width: 250px
    }
  }

  .navbar .box-navbar .navigation.menu-active {
    right: 0;
  }

  .navbar .box-navbar .navigation i.ri-close-line {
    display: block;
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    color: #2f668f;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .navbar .box-navbar .navigation ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding: 0 30px 0 0;
    margin-right: -50px;
  }

  .navbar .box-navbar .navigation ul li a {
    color: #fff;
  }

  .navbar .box-navbar .navigation ul li a:hover {
    color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li i {
    display: inline-block;
    color: #fff;
    margin-inline: 10px;
  }

  .navbar .box-navbar .navigation ul li:hover i {
    color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) {
    color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) i {
    color: #2f668f;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) i:hover {
    color: #fff;
  }

  .jumbotron {
    padding-top: 180px;
    padding: 80px;
    height: 350px;
    margin-bottom: -140px;
  }
  
  .jumbotron h1 {
    margin-top: 30px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
  }
}

@media screen and (min-width: 990px) {
  .navbar .navigation .logo-navbar {
    display: none;
  }
}

@media (min-width: 1400px) {
  .news--main .card {
    width: 25rem;
    height: 42rem;
  }
}